.common-blue{
    color:#4f9fcf;
}
.order_status{
    line-height: 40px;
    background:#626d79;
    padding: 0 10px;
    color:#fff;
    margin-bottom: 10px;
}
.backmargin{
    margin-top: 5px;
    height: 30px;
    line-height: 16px !important;
}
.border_blue{
    border: 1px solid #626d79;
    padding: 26px;
    margin-bottom: 10px;
}
.test{
    width: 300px;
    height: 300px;
    background: red;
}
.clearmargin{
    margin: 0;
}
.order_userInfo{
    margin-top: 20px;
    background: #626d79;
    line-height: 40px;
    color:#fff;
}
.order_note{
    margin-top: 20px;
}
.order_orderinfo{
    margin-top: 15px;
}
.order_orderinfo>div{
    line-height: 25px;
}
.info-margin{
    margin-right: 30px;
}
.send_info{
    margin-bottom: 10px;
}
.fontbold{
    font-weight: bold;
}
.font-light{
    font-size: 12px;
}
.comment_margin{
    margin-bottom: 30px;
}
.delivery_pro{
    margin-left: 15px;
    border-left: 5px dotted #626d79;
    padding-left: 20px;
    margin-top: 23px;
}
.comment_nomargin{
    margin-bottom: 0;
}
.comment{
    line-height: 40px;
    margin-top: 10px;
}
.comment_inner{
    background: #626d79;
    /* margin-top:20px;  */
    color:#fff;
    line-height: 20px;
    padding: 15px;
    border-radius: 5px !important;
}
.goback{
    text-align:center;
    margin-top: 20px;
}
.goback .btn{
    width: 80px;
}